#Specific log format
log_format customlog '"$time_iso8601";"$hostname";$bytes_sent;$request_time;$upstream_response_length;$upstream_response_time;$content_length;"$remote_addr";$status;"$host";"$request";"$http_user_agent"';

#For long server name directive, we must increase the below
server_names_hash_bucket_size 128;

#Include javascript functions for Google Signature calculation, authorization ...
js_include /etc/nginx/conf.d/script-functions.js;